.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-photo {
    padding: 5px;
    cursor: pointer;
}

.gallery-photo:hover {
    padding: 2px;
    border: 3px solid black;
}

.selected {
    padding: 2px;
    border: 3px solid black;
}

.preview {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.preview-photo {
    width: 100%;
    margin: auto;
    height: auto;
}

.inputs {
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    margin: auto;
}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-weight: unset;
    background: none;
    font-size: 1.05rem;
    outline: none;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

@media (min-width: 1000px) {
    .inputs {
        flex-direction: row;
    }

    .preview-photo {
        width: 75%;
    }
}


