@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


.topnav {
    background-color: white;
    overflow: auto;
    border: 1px solid ;
}

.topnav a {
    float: left;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color .35s ;
}

.topnav a:hover {
    background-color: #e6e6e6;
}

.topnav a.active {
    border-bottom: 3px solid red;
    padding-bottom: 7px;
}


@media screen and (max-width: 600px) {
    .topnav a {
        width: auto;
        float: none;
    }
}

@media only screen and (orientation: portrait) {
    .topnav a {
        width: auto;
        float: none;
    }
}