@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #84848a;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    padding: 0;
    margin: 0;
}


main {
    width: 85%;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
}

body {
    margin-left: 5%;
    margin-right: 5%;

}


section {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
    border-bottom: solid black 1px;
    padding-bottom: 25px;
}
.interests {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}
article {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    
}
footer {
    margin: 15px;

}
.w-100 {
    grid-column: 1 / span 2;

    
}
img {
    width: 100%;
}


.topnav {

    padding: 5px 5%;
    overflow: auto;
    border-bottom: solid black 1px;
}

.photo {
    display: block;
    float: left;
    height: auto;
    width: 30%;
    text-align: right;
    margin-right: 25px;
    margin-bottom: 25px;

}


.introduction {
    max-width: 1000px;
    min-height: 300px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;

}


.checkers {
    background-image: url("photos/screen2.jpg");
}

.sztosik {
    background-image: url("photos/sztosik.jpg");
}

.mobile {
    background-image: url("photos/mobilki.jpg");
}

.topnav a {
    float: left;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: medium;
    transition: background-color .5s;
}

.project-button {
    display: block;
    max-width: 300px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 20px;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px auto;
    transition: background-color .5s, color .5s;
}


.project-desc {
    color: white;
    text-shadow: 2px 2px black;
    padding: 10px 20px;
    transition: font-size .5s;
    margin: 10px;
}

.project-desc:hover {
    font-size: larger;
    font-weight: bold;
}

.long {
    max-width: 500px;
}


.interests-block {
    display: inline-grid;


}

.project-button:hover {
    background: #000000;
    color: #ffffff;
}


.topnav a:hover {
    border-bottom: 1px solid #545454;
    padding-bottom: 3px;
}

.topnav a.active {
    border-bottom: 1px solid #000000;
    padding-bottom: 3px;
}

.project-href {
    text-decoration: none;
    transition: background-color .5s;
}

.mobile-photo {
    display: inline-grid;
    margin: 10px auto;
    width: 45%;

}

@media (max-width: 600px) {
    .topnav {
        display: flex;
    }

    .photo {
        margin-top: 25px;
        width: 100%;
        float: none;
    }

    .topnav a {
        display: inline;
        white-space: nowrap;
    }

    .interests-block {
        display: block;
        width: 100%;
        padding: 0;
    }

    .mobile-photo {
        width: 100%;
    }


}
